body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.inputContainer{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.btn{
    margin-bottom: 1%;
}