<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    <title>Whether the Weather</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="build/build.css">
    <!-- endinject -->
</head>
<body ng-controller="weatherController as wc" >
    <main class="inputContainer"> <!-- main box used for sticky footer functionality -->
        <section>
            <h1>Whether the Weather  <i class="medium material-icons">cloud_queue</i></h1>
        </section>

        <section>
                <!-- preset button -->
            <button ng-click="wc.cityName='New York'; wc.submitCity(wc.cityName, true)" class="btn deep-orange lighten-1">New York</button>
            <button ng-click="wc.cityName='San Diego'; wc.submitCity(wc.cityName, true)" class="btn cyan lighten-1">San Diego</button>
            <button ng-click="wc.cityName='District of Columbia'; wc.submitCity(wc.cityName, true)" class="btn yellow darken-1">Washington D.C.</button>
            <button ng-click="wc.cityName='Pittsburgh'; wc.submitCity(wc.cityName, true)" class="btn deep-purple accent-1">Pittsburgh</button>
            <button ng-click="wc.cityName='Honolulu'; wc.submitCity(wc.cityName, true)" class="btn red accent-4">Honolulu</button>

            <form action="javascript:void(0);" name="weatherSearch" ng-submit="wc.submitCity(wc.cityName, true)">

                <!-- text input -->
                <input placeholder="Enter a City" type="text" ng-model="wc.cityName" required>

                <!-- submit button -->
                <button type="submit" class="btn">Check Weather</button>
            </form>
        </section>

        <!-- interpolating the return data from the API request -->
        <section class="row" ng-hide="wc.weatherInfo === undefined">
            <div class="col m4 offset-m1" ng-show="wc.loaded">
                <h2 class="flow-text">Weather Info for <strong>{{wc.weatherInfo.name}}</strong></h2 class="flow-text">
                <p>Latitude/Longitude: {{wc.weatherInfo.coord.lat}} / {{wc.weatherInfo.coord.lon}}</p>
                <p>Temperature: {{wc.weatherInfo.main.temp}} °F</p>
                <p>Pressure: {{wc.weatherInfo.main.pressure | number}} (hPa)</p>
                <p>Humidity: {{wc.weatherInfo.main.humidity}}%</p>
                <p>Lowest Temp: {{wc.weatherInfo.main.temp_min}} °F</p>
                <p>Highest Temp: {{wc.weatherInfo.main.temp_max}} °F</p>
                <p>Wind Speed: {{wc.weatherInfo.wind.speed}} (MPH)</p>
            </div>

            <div class="col m4 offset-m2">
                <h2 class="flow-text">Search History</h2>
                <table ng-repeat="search in wc.searchHistory" class="bordered highlight">
                    <tr>
                        <td><a ng-click="wc.submitCity(search.cityName)">{{search.cityName}}</a></td>
                        <td>{{search.timeStamp | date:'medium'}}</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer class="page-footer brown lighten-5">
      <div class="container">
        <div class="row">
          <div class="col l12 s12">
            <p class="black-text text-lighten-4"><strong><a href="https://github.com/wishinghand/08-WeatherApp">Local Weather App</a></strong> built by <a href="http://qobbler.com">Jason Land</a> and <a href="https://github.com/sebastianleon">Sebastian Leon</a>.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container black-text">
        The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        </div>
      </div>
    </footer>
    <!-- inject:js -->
    <script src="build/build.js"></script>
    <!-- endinject -->
</body>
</html>