<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    <title>Whether the Weather</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="build/build.css">
    <!-- endinject -->
</head>
<body ng-controller="weatherController as wc" class="inputContainer">
    <section>
        <h1>Whether the Weather</h1>
    </section>

    <section>
            <!-- preset button -->
        <button ng-click="wc.cityName='New York'" class=" waves-effect waves-light btn">New York</button>
        <button ng-click="wc.cityName='San Diego'" class="btn waves-effect waves-light">San Diego</button>
        <button ng-click="wc.cityName='District of Columbia'" class="btn waves-effect waves-light">Washington D.C.</button>
        <button ng-click="wc.cityName='Pittsburgh'" class="btn waves-effect waves-light">Pittsburgh</button>
        <button ng-click="wc.cityName='Honolulu'" class="btn waves-effect waves-light">Honolulu</button>

        <form action="javascript:void(0);" name="weatherSearch" ng-submit="wc.submitCity(wc.cityName, true)">

            <!-- text input -->
            <input placeholder="Enter a City" type="text" ng-model="wc.cityName">

            <!-- submit button -->
            <button type="submit" class="btn">Check Weather</button>
        </form>
    </section>

    <section class="row">
        <div class="col s4 offset-s1">
            <h2>Weather Info for {{wc.weatherInfo.name}}</h2>
            <p>Temperature: {{wc.weatherInfo.main.temp}} °F</p>
            <p>Pressure (hPa): {{wc.weatherInfo.main.pressure}}</p>
            <p>Humidity: {{wc.weatherInfo.main.humidity}}%</p>
            <p>Lowest Temp: {{wc.weatherInfo.main.temp_min}} °F</p>
            <p>Highest Temp: {{wc.weatherInfo.main.temp_max}} °F</p>
            <p>Wind Speed (MPH): {{wc.weatherInfo.wind.speed}}</p>
        </div>
        <div class="col s4 offset-s2">
            <h2>Search History</h2>
            <table ng-repeat="search in wc.searchHistory" class="bordered highlight">
                <tr>
                    <td><a ng-click="wc.submitCity(search.cityName)">{{search.cityName}}</a></td>
                    <td>{{search.timeStamp | date:'medium'}}</td>
                </tr>
            </table>
        </div>
    </section>

    <!-- inject:js -->
    <script src="build/build.js"></script>
    <!-- endinject -->
</body>
</html>